
.App-header {
  background-color: whitesmoke;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  font-size: calc(10px + 1vmin);
}

.Title {
  background-color: whitesmoke;
  color: black; 
  font-family: monospace; 
  font-size: 48px; 
}

.Textfield-container {
  background-color: whitesmoke;
  width: 300px;
}